/** below the fold footer **/
html { 
  overflow: auto 
}

html, body {
  display: table;
  height: 100%;
  width: 100%;
}

#force-below-the-fold {
  display: table;
  height: 100%;
  width: 100%;
}

/* text */

.text1 {
  color: rgb(197, 90, 17);
  font-family: "Times New Roman", Times, serif;
}

.text2 {
  color: rgb(31, 78, 121);
  font-family: "Times New Roman", Times, serif;
}

/** carousel **/

.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 25rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/* Centers carousel */
.carousel-inner img {
  margin: auto;
}

/************************* backgrounds ***********************************/

.default {
  background-color: #eee;
}
.landing {
  background-image: url("{{site.url + 'assets/trees-along-path.jpg'}}");
  max-height: 100vh;
  min-height: 100vh;
  /* Full height */
  width: 100%;
  background-position: center;
  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

main {
  padding-bottom: 4rem;
}
/*********************** color ******************************************/
.bg-color {
  background-color: #0d8ac4;
}
.bg-white-transparent {
  background-color: rgba(255, 255, 255, 0.9);
}
/*********************** links ******************************************/

.nav-link {
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  color: #000000;
}
.nav-link:hover, .nav-link:focus {
  border-bottom-color: #ffc439;
}
.active {
  font-weight: bold;
  border-bottom-color: #ffc439;
}
a {
  color: #222;
  text-decoration: none;
}
a:hover {
  color: #000000;
}
.service:hover {
  background-color: #7FFFD4;
}
/************************** container *****************************************/

.radius {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
/************************** images *****************************************/

#logo {
  width: 6rem;
  height: auto;
}
.fb-img {
  width: 150px;
  height: 28px;
}
.carousel-inner img {
    margin: auto;
}
/************************** button ****************************************/

.button {
  background-color: #ffc439;
  border: none;
  color: #333;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
.button:hover {
  background-color: #fc3;
  color: #000;
}

.accordion-bttn {
  font-size: 2rem !important;
}

/*************************** flex ******************************************/

.order1 {
  order: 1;
}
.order2 {
  order: 2;
}
.order3 {
  order: 3;
}
.d-inline {
  display: inline-block;
}
/*************************** lists ******************************************/

ul {
  list-style: disc;
}
/*************************** footer ******************************************/

footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.footer-name {
  font-weight: bold;
  font-size: 20px;
}
.footer-heading {
  font-weight: bold;
  font-size: 16px;
}
.footer-content {
  font-size: 14px;
}
.copyright {
  font-size: 12px;
}

.footer-img {
  width: 8rem;
  height: auto;
}

.border-box {
  box-sizing: border-box;
}
.myborder {
  border: 5px solid #646464 !important;
  padding: 3px;
  background-color:#eee;
  color: #222; 
}

.myborder2 {
  background-color: #ccddee;
  padding: .25rem;
}

.quick-link, .phone-link, .email-link {
  font-weight: 400;
  color: #eee;
  text-decoration: underline;
}
.quick-link:hover, .phone-link:hover, .email-link:hover {
  background-color: #ffc439;
  color: #333;
  padding: 5px 10px;
  text-decoration: none;
}

.certificate-link:hover {
  padding: 10px;
  background-color: #ffc439;
}

.certificate-link {
  width: 8rem;
  padding: 1rem;
}

.social-link {
  width: 3rem;
  padding: 0.5rem;
  visibility:visible;
}

.social-link:hover {
  padding: 8px;
  background-color: #ffc439;
}




/*************************** media break ******************************************/

@media screen and (min-width: 570px) {
  .radius {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
  }
}
@media screen and (max-width: 992px) {
  .order1 {
    order: 2;
  }
  .order2 {
    order: 1;
  }
}
/*************************** screen readers ******************************************/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
}
