  <div class="main-footer widgets-dark typo-light text-light">
  <div class="container">
  <div class="row">
    
  <div class="col-xs-12 col-sm-6 col-md-3">
  <div class="widget subscribe no-box">
  <h5 class="widget-title">NWA Second Stage Transition<span></span></h5>
  <address>P.O. Box 1128, </br>Siloam Springs, Arkansas 72761
  <br>
  <br>
  <a class="text-light" href="tel:14795493737">+1 (479) 549-3737</a></address>
  </div>
  </div>
  
  <div class="col-xs-12 col-sm-6 col-md-3">
  <div class="widget no-box">
  <h5 class="widget-title">Quick Links<span></span></h5>
  <ul class="thumbnail-widget">
  <li>
  <div class="thumb-content"><a class="text-light" href="#.">Get Started</a></div>	
  </li>
  <li>
  <div class="thumb-content"><a class="text-light" href="#.">Success Stories</a></div>	
  </li>
  <li>
  <div class="thumb-content"><a class="text-light" href="#.">Events</a></div>	
  </li>
  <li>
  <div class="thumb-content"><a class="text-light" href="#.">News</a></div>	
  </li>
  <li>
  <div class="thumb-content"><a class="text-light" href="#.">About</a></div>	
  </li>
  </ul>
  </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3 align-items-evenly">
  <div class="widget no-box d-flex ">
    <a class="mx-auto" href="https://www.guidestar.org/profile/84-2586015" class="mb-3 me-2 mb-md-0 lh-1">
      <img class="mx-auto footer-img" src="{{site.url + './assets/candid-2022-silver-transparency-award.webp'}}" alt="NWA Second Stage Transition Logo">
    </a>
    <a class="mx-auto" href='https://www.natpia.com/providers/910/cecelia-dorko/' target='_blank'>
      <img class="mx-auto footer-img" src='https://storage.googleapis.com/parenting-org-static/img/natpia-badge-160.png'/>
    </a>
  </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3">
  <div class="widget no-box">
  <h5 class="widget-title">Contact Us<span></span></h5>
  
  <p><a href="mailto:info@nwasecondstagetransition.org" class="text-light" title="email">info@nwasecondstagetransition.org</a></p>
  <span class="social-footer2">
  <ul class="social-ul ">
    <li>
      <a href="https://www.facebook.com/NWA-Second-Stage-Transition-102534804556882/" target="_blank" title="Facebook"><img class="inverted social-img" alt="Facebook" width="30" height="30" src="{{site.url + 'assets/facebook-logo.png'}}"></a>
    </li>
    <li>
      <a href="https://www.facebook.com/NWA-Second-Stage-Transition-102534804556882/" target="_blank" title="Paypal"><img class="social-img" alt="Paypal" width="30" height="30" src="{{site.url + 'assets/paypal-logo.png'}}"></a>
    </li>
  </ul>
  
</span>
  </div>
  </div>
  
  </div>
  </div>
  </div>
    
  <div class="footer-copyright">
  <div class="container">
  <div class="row">
  <div class="col-md-12 text-center text-light">
  <p>Copyright NWA Second Stage Transition © 2022. All rights reserved.</p>
  </div>
  </div>
  </div>
  </div>