<div class="d-flex text-center container justify-content-center">
  <div class="row">
    <div class="col-sm-12 col-md-4 order1 text-light">
      <h3 class="footer-name">NWA Second Stage Transition</h3>
      <address class="footer-content">
        PO Box 72761<br>
        Siloam Springs, AR 72761<br>
      </address>
    </div>
    <div class="col-sm-12 col-md-4 order2 text-light">
      <a class="nav-link text-light" href="tel:14795493737">
      <h3 class="footer-heading">Open by appointment</h3>
      <address id="" class="mb-0 footer-content">
        +1 (479) 549-3737
      </address>
      </a>
      <div class="mb-3 mt-1">
        <a class="button" href="{{site.url + 'contact/'}}" rel="noopener noreferrer">Contact us</a>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 order3 text-light">
      <div class="mb-3">
        <a class="button display-inline" href="https://www.facebook.com/NWA-Second-Stage-Transition-102534804556882" rel="noopener noreferrer" target="_blank">Find us on <img alt="link to facebook" class="fb-img" src="assets/facebook.svg"></a>
      </div>
    </div>
  </div>
</div>