<div class="container">
  <div class="text-light border-box">
    <div class="row">
      <div class="col-sm-12 col-lg-4  mx-auto">
        <h5 class="text-center">Quick Links<span></span></h5>
        <ul class="container list-unstyled">
          <li class="my-3 text-center">
            <a class="quick-link" href="{{site.url + 'about/'}}">About</a>
          </li>
          <li class="my-3 text-center">
            <a class="quick-link" href="{{site.url + 'events/'}}">Events</a>
          </li>
          <li class="my-3 text-center">
            <a class="quick-link" href="{{site.url + 'contact/'}}">Contact</a>
          </li>
          <li class="my-3 text-center">
            <a  href="https://www.facebook.com/NWA-Second-Stage-Transition-102534804556882/" target="_blank" title="Facebook"><img class="social-link rounded-circle" alt="Facebook" src="{{site.url + 'assets/facebook-logo.png'}}"></a>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-lg-4  mx-auto">
        <div class="myborder2">
          <div class="myborder">
            <h5 class="text-center">NWA Second Stage Transition<span></span></h5>
            <address class="text-center">
              P.O. Box 1128, </br>Siloam Springs, Arkansas 72761
            </address>
          </div>
        </div>
        <p class="text-center my-3">
          Open by appointment only.
        </p>
        <ul class="list-unstyled">
          <li class="">
            <address class="text-center my-3">
              <a class="text-center email-link" href="mailto:info@nwasecondstagetransition.org" title="email">info@nwasecondstagetransition.org</a>
            </address>
          </li>
          <li class="">
            <address class="text-center my-3">
              <a class="phone-link" href="tel:14795493737">+1 479 549 3737</a>
            </address>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-lg-4  mx-auto">
        <ul class="list-unstyled">
          <li class="text-center">
            <a class="" href="https://www.guidestar.org/profile/84-2586015">
              <img class="certificate-link" src="{{site.url + './assets/candid-2022-silver-transparency-award.webp'}}" alt="NWA Second Stage Transition Logo">
            </a>
          </li>
          <li class="text-center">
            <a class="" href='https://www.natpia.com/providers/910/cecelia-dorko/' target='_blank'>
              <img class="certificate-link rounded-circle" src='https://storage.googleapis.com/parenting-org-static/img/natpia-badge-160.png'/>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <p class="text-light text-center pt-2">Copyright NWA Second Stage Transition © 2022. All rights reserved.</p>
  </div>
</div>
