<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title }}</title>

<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
<title>{{ title }}</title>
<meta content="{{site.description}}" name="description">
<link href="{{site.url}} + '/assets/nwasst-logo.png'" rel="shortcut icon" type="image/png">
<link href="{{site.url}} + '/sitemap.xml'" rel="sitemap" title="Sitemap" type="application/xml">