  <div class="row">
    <nav class="navbar navbar-expand-sm navbar-light">
      <div class="container-fluid d-flex justify-content-between">
        <a class="navbar-brand" href="#"><img src="{{site.url + 'assets/img/nwasst-logo.svg'}}"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="{{site.url + 'about/#'}}" role="button" data-bs-toggle="dropdown">About</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{site.url + 'about/#ourStory'}}">Our Story</a></li>
                <li><a onclick="goAboutSlide('0');" class="dropdown-item" href="{{site.url + 'about/#aboutCarousel'}}">Mission</a></li>
                <li><a onclick="goAboutSlide(1);" class="dropdown-item" href="{{site.url + 'about/#aboutCarousel'}}">Vision</a></li>
                <li><a onclick="goAboutSlide(2);" class="dropdown-item" href="{{site.url + 'about/#aboutCarousel'}}">Values</a></li>
                <li><a class="dropdown-item" href="{{site.url + 'about/#team'}}">Team</a></li>
                <li><a class="dropdown-item" href="{{site.url + 'about/#location'}}">Location</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="{{site.url + 'services/#'}}" role="button" data-bs-toggle="dropdown">Services</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{site.url + 'services/#listOfServices'}}">Assessment</a></li>
                <li><a class="dropdown-item" href="{{site.url + 'services/#listOfServices'}}">Awareness</a></li>
                <li><a class="dropdown-item" href="{{site.url + 'services/#listOfServices'}}">Case Management</a></li>
                <li><a class="dropdown-item" href="{{site.url + 'services/#listOfServices'}}">Class / Group</a></li>
                <li><a class="dropdown-item" href="/{{site.url + 'services/#listOfServices'}}">Counseling</a></li>
                <li>
                  <hr class="dropdown-divider">
                  </hr>
                </li>
                <li><a class="dropdown-item" href="{{site.url + 'services/#focusAreas'}}">Anger Management</a></li>
                <li><a class="dropdown-item" href="{{site.url + 'services/#focusAreas'}}">Domestic Violence</a></li>
                <li><a class="dropdown-item" href="{{site.url + 'services/#focusAreas'}}">Life Skills</a></li>
                <li><a class="dropdown-item" href="{{site.url + 'services/#focusAreas'}}">Substance Abuse</a></li>
                <li><a class="dropdown-item" href="{{site.url + 'services/#focusAreas'}}">Support Group</a></li>
                <li><a class="dropdown-item" href="{{site.url + 'services/#focusAreas'}}">Parenting</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="{{site.url + 'blog/#'}}">Blog</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="{{site.url + 'get-involved/#'}}" role="button" data-bs-toggle="dropdown">Get Involved</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{site.url + 'get-involved/#'}}">Donate</a></li>
                <li><a class="dropdown-item" href="{{site.url + 'get-involved/#volunteer'}}">Volunteer</a></li>
                <li><a class="dropdown-item" href="{{site.url + 'get-involved/#inKindGift'}}">In-kind Gifts</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="{{site.url + 'contact/#'}}" role="button" data-bs-toggle="dropdown">Contact</a>
              <ul class="dropdown-menu">
                <li class="p-1">
                  <a class="dropdown-item" href="{{site.url + 'contact/#'}}">Submit a question</a>
                </li>
                <li class="p-1"><a class="dropdown-item" href="{{site.url + 'about/#location'}}">Office Location</a></li>
                <li class="p-2">
                  <a class="dropdown-item" href="https://www.facebook.com/NWA-Second-Stage-Transition-102534804556882">Facebook</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Sign-Up</a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="{{site.url + 'sign-up/newsletter/#'}}">Newsletter</a></li>
                <li><a class="dropdown-item" href="{{site.url + 'sign-up/parenting-class/#'}}">Parenting Class</a></li>
                <li><a class="dropdown-item" href="{{site.url + 'sign-up/support-group/#'}}">Group Support</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="tel:14795493737">(479) 549-3737</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
