  <div class="row">
    <nav class="navbar navbar-expand-sm navbar-light">
      <div class="container-fluid d-flex justify-content-between">
        <a class="navbar-brand" href="#"><img src="{{site.url + 'assets/nwasst-logo.svg'}}"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">About</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{site.url + 'about/#ourStory'}}">Our Story</a></li>
                <li><a class="dropdown-item" href="{{site.url + 'about/#team'}}">Team</a></li>
                <li><a class="dropdown-item" href="{{site.url + 'about/#insurance'}}">Insurance</a></li>
                <li><a class="dropdown-item" href="{{site.url + 'about/#about-contact'}}">Contact</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Services</a>
              <ul class="dropdown-menu">
                <div class="d-inline">
                  <li><a class="dropdown-item" href="#">Assessment</a>
                    <ul class="dropdown-menu dropdown-submenu">
                      <li><a class="dropdown-item" href="{{site.url + 'services/#listOfServices'}}">Anger Management</a></li>
                      <li><a class="dropdown-item" href="{{site.url + 'services/#listOfServices'}}">Substance Abuse</a></li>
                    </ul>
                  </li>
                </div>
                <div class="d-inline">
                  <li><a class="dropdown-item" href="#">Class / Group</a>
                    <ul class="dropdown-menu dropdown-submenu">
                      <li><a class="dropdown-item" href="{{site.url + 'services/#listOfServices'}}">Anger Management Class</a></li>
                      <li><a class="dropdown-item" href="{{site.url + 'services/#listOfServices'}}">Domestic Violence Class</a></li>
                      <li><a class="dropdown-item" href="{{site.url + 'services/#listOfServices'}}">Parenting Class</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="{{site.url + 'services/#listOfServices'}}">Support Group</a></li>
                    </ul>
                  </li>
                </div>
                <div class="d-inline">
                  <li><a class="dropdown-item" href="#">Counseling</a>
                    <ul class="dropdown-menu dropdown-submenu">
                      <li><a class="dropdown-item" href="{{site.url + 'services/#listOfServices'}}">Mental Health</a></li>
                      <li><a class="dropdown-item" href="{{site.url + 'services/#listOfServices'}}">Substance Abuse</a></li>
                    </ul>
                  </li>
                </div>
                <li><a class="dropdown-item" href="{{site.url + 'services/#listOfServices'}}">Life Coach</a></li>
                <li><a class="dropdown-item" href="{{site.url + 'services/#listOfServices'}}">Resource Assistance</a></li>
              </ul>
            </li>
            <!-- Temporarily Removing Blog link until we are ready for creating the blog. -->
            <!--<li class="nav-item dropdown"><a class="nav-link" href="{{site.url + 'blog/#'}}">Blog</a></li>-->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Get Involved</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{site.url + 'get-involved/#'}}">Donate</a></li>
                <li><a class="dropdown-item" href="{{site.url + 'get-involved/#volunteer'}}">Volunteer</a></li>
                <li><a class="dropdown-item" href="{{site.url + 'get-involved/#inKindGift'}}">In-kind Gifts</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Contact</a>
              <ul class="dropdown-menu">
                <li class="p-1">
                  <a class="dropdown-item" href="{{site.url + 'contact/#'}}">Contact Us</a>
                </li>
                <li class="p-1"><a class="dropdown-item" href="{{site.url + 'about/#about-contact'}}">Location</a></li>
                <li class="p-1"><a class="dropdown-item" href="{{site.url + 'about/#about-contact'}}">Hours</a></li>
                <li class="p-2">
                  <a class="dropdown-item" href="https://www.facebook.com/NWA-Second-Stage-Transition-102534804556882">Facebook</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Sign-Up</a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="{{site.url + 'sign-up/newsletter/#'}}">Newsletter</a></li>
                <li><a class="dropdown-item" href="{{site.url + 'sign-up/assessment/#'}}">Assessment</a></li>
                <li><a class="dropdown-item" href="{{site.url + 'sign-up/support-group/#'}}">Support Group</a></li>
                <li><a class="dropdown-item" href="{{site.url + 'sign-up/parenting-class/#'}}">Parenting Class</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="tel:14795493737">(479) 549-3737</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
