---
title: NWA Second Stage Transition's a place for you when you need help the most.
layout: base-layout.njk
templateEngineOverride: njk,md
---
<!-- START of the Services section  -->
<div id="listOfServices" class="position-relative overflow-hidden p-3 p-md-3 m-md-3 text-center">
  <div class="col-md-11 mx-auto my-3 ">
    <h1 class="display-4 pb-3 fw-normal">Our Services</h1>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
<!-- END Services section-->
<!-- List of Services -->
<div class="container px-4 py-5" id="featured-3">
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
    <div class="feature col">
      <h2>Assessments</h2>
      <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
        probably just keep going until we run out of words.</p>
      <a href="#" class="icon-link">
          Call to action
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
    </div>
    <div class="feature col">
      <h2>Awareness</h2>
      <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
        probably just keep going until we run out of words.</p>
      <a href="#" class="icon-link">
          Call to action
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
    </div>
  </div>
</div>
<div class="container px-4 py-5" id="featured-4">
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <h2>Case Management</h2>
      <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
        probably just keep going until we run out of words.</p>
      <a href="#" class="icon-link">
          Call to action
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
    </div>
    <div class="feature col">
      <h2>Class/Group</h2>
      <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
        probably just keep going until we run out of words.</p>
      <a href="#" class="icon-link">
          Call to action
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
    </div>
    <div class="feature col">
      <h2>Counseling</h2>
      <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
        probably just keep going until we run out of words.</p>
      <a href="#" class="icon-link">
          Call to action
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
    </div>
  </div>
</div>
<!-- END List of Services -->
<hr class="featurette-divider">
<!-- Areas of Interest Section -->
<div id="focusAreas" class="position-relative overflow-hidden p-3 p-md-3 m-md-3 text-center">
  <div class="col-md-11 mx-auto my-3 ">
    <h1 class="display-4 pb-3 fw-normal">Focus Areas</h1>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
<div class="container ourTeam">
  <!-- Three columns of text below the carousel -->
  <div id="team" class="row">
    <div class="col-lg-4">
      <img style="width: 140px; border-radius:5rem;"src="./cecelia.PNG" alt="">
      <h2>Anger Management</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ea porro cum beatae quam.</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img style="width: 130px; border-radius:5rem;"src="./rick.PNG" alt="">
      <h2>Domestic Violence</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img style="width: 130px; border-radius:5rem;"src="./rick.PNG" alt="">
      <h2>Life Skills</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
  <!-- END Team Section -->
  <!-- Board Members Section
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->
  <div class="container ourTeam">
    <!-- Three columns of text below the carousel -->
    <div id="team" class="row">
      <div class="col-lg-4">
        <img style="width: 130px; border-radius:5rem;"src="./rick.PNG" alt="">
        <h2>Substance Abuse</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum repudiandae, deserunt fugit ipsum non omnis impedit.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img style="width: 140px; border-radius:5rem;"src="./sam.PNG" alt="">
        <h2>Support Group</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, labore natus! Odio odit ut praesentium!</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img style="width: 140px; border-radius:5rem;"src="./sam.PNG" alt="">
        <h2>Parenting Class</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, labore natus! Odio odit ut praesentium!</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <!-- END Board Members Section -->
    <!-- /END THE FEATURETTES -->
      <hr class="featurette-divider">
    </div><!-- /.container -->
  </div>
