---
title: NWA Second Stage Transition's a place for you when you need help the most.
layout: base-layout.njk
templateEngineOverride: njk,md
---
<!-- START of the Services section  -->
<div id="listOfServices" class="position-relative overflow-hidden p-3 p-md-3 m-md-3 text-center">
  <div class="col-md-11 mx-auto my-3 ">
    <h1 class="display-4 pb-3 fw-normal">Our Services</h1>
    <p>Our Counseling model, Support Group meetings, and Case Management Services provide a well-rounded approach to
      help identify barriers, encourage a healthy lifestyle and achieve personal goals.</p>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
<!-- END Services section-->
  <hr class="featurette-divider">
<!-- Areas of Interest Section -->
<div id="focusAreas" class="position-relative overflow-hidden p-3 p-md-3 m-md-3 text-center">
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
<div class="container">
  <!-- Three columns of text below the carousel -->
  <div id="focus-areas1" class="row">
    <div class="col-lg-4">
      <h2>Anger Management</h2>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <h2>Domestic Violence</h2>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <h2>Life Skills</h2>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
  <!-- END Team Section -->
  <!-- Board Members Section
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->
  <div class="container">
    <!-- Three columns of text below the carousel -->
    <div id="focus-areas2" class="row">
      <div class="col-lg-4">
        <h2>Substance Abuse</h2>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <h2>Support Group</h2>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <h2>Parenting Class</h2>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <!-- END Focus areas -->
  </div><!-- /.container -->
  <!-- Accordion - starts -->
  <div class="accordion accordion-flush col-sm-12 col-md-12 p-3 m-3" id="accordionFlushExample">
    <!-- accordion item assessment start -->
    <div class="accordion-item">
      <h2 class="lead accordion-header" id="flushtwo"><button aria-controls="flush-collapseTwo" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#flush-collapseTwo" data-bs-toggle="collapse" type="button"><strong>Assessment</strong></button></h2>
      <div aria-labelledby="flushtwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample"
        id="flush-collapseTwo">
        <div class="accordion-body">
          <h3 class="lead text-left">Anger Management Assessment</h3>
          <p class="lead text-left"> Assessments help identify other areas to work on. Anger Management Assessment can
            be ordered by a judge, parole officer, probation officer, employer, family member, attorney, etc.</p>
          <p class="lead">Court Ordered Anger Management assessment: 1-hour evaluation.</p>
          <h3 class="lead text-left">Substance Abuse Assessment</h3>
          <p class="lead text-left">Our licensed therapists conduct substance abuse and mental health assessment
            evaluations. Also, provide emotional support to individuals, and conduct one-on-one sessions to overcome
            their
            dependency and become self-sufficient. The therapists work with the clients to help them heal from the
            trauma
            inflicted by addiction.</p>
        </div>
      </div>
    </div>
    <!-- accordion item end -->
    <!-- accordion item awareness start -->
    <div class="accordion-item">
      <h2 class="lead accordion-header" id="flushsix"><button aria-controls="flush-collapseSix" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#flush-collapseSix" data-bs-toggle="collapse" type="button"><strong>Awareness</strong></button></h2>
      <div aria-labelledby="flushsix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample"
        id="flush-collapseSix">
        <div class="accordion-body">
          <h3>Domestic Violence Awareness</h3>
          <p class="lead text-left">Domestic Violence can be a single act or a repetition of behavior in relationships
            and
            could happen to anybody. It is present in every community, regardless of age, gender, sexual orientation,
            race, socioeconomic status, religion, or nationality.</p>
          <p class="lead text-left"><strong>Regardless of being a male or female, you must not remain silent.</strong>
            “Talk with a friend, family member, coworker, or neighbor about domestic violence”.</p>
        </div>
      </div>
    </div>
    <!-- accordion item end -->
    <!-- accordion item case management start -->
    <div class="accordion-item">
      <h2 class="lead accordion-header" id="flushseven"><button aria-controls="flush-collapseSeven" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#flush-collapseSeven" data-bs-toggle="collapse" type="button"><strong>Case Management</strong></button></h2>
      <div aria-labelledby="flushseven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample"
        id="flush-collapseSeven">
        <div class="accordion-body">
          <ul class="lead text-left">
            <li>Medicaid/Pregnancy Insurance</li>
            <li>Housing Search/HARK NWA/Rental/Utilities</li>
            <li>Childcare Voucher</li>
            <li>Social Security Card</li>
            <li>Birth Certification</li>
            <li>SNAP/TEA</li>
            <li>Job Readiness Awareness</li>
            <li>Job Search</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- accordion item end -->
    <!-- accordion item start - classes / groups -->
    <div class="accordion-item">
      <h2 class="lead accordion-header" id="flushthree"><button aria-controls="flush-collapseThree" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#flush-collapseThree" data-bs-toggle="collapse" type="button"><strong>Classes / Groups</strong></button></h2>
      <div aria-labelledby="flushthree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample"
        id="flush-collapseThree">
        <div class="accordion-body">
          <h3 class="lead text-left">Anger Management Class: <span style="white-space: pre;"><a href="{{site.url + 'sign-up/anger-management-class/#'}}">Anger Management > Sign-up</a></span></h3>
          <p class="lead text-left">Individuals needing to attend anger management classes are encouraged to take the
            assessment first. Anger management Class can be ordered by a judge, parole officer, probation officer,
            employer, family member, attorney, etc.</p>
          <p class="lead text-left">Purpose of the class: Has anger become a habit for you? How?</p>
          <ol>
            <li class="lead">Learn to effectively manage anger</li>
            <li class="lead text-left">Stop the threat of violence</li>
            <li class="lead text-left">Improve self-control over thoughts and actions</li>
            <li class="lead text-left">Obtain positive support from others</li>
          </ol>
          <p class="lead">Anger Management Classes: 4 to 32 hours – based on the evaluation.</p>
          <h3 class="lead text-left">Parenting Class: <span style="white-space: pre;"><a href="{{site.url + 'sign-up/parenting-class/#'}}">Parenting > Sign-up</a></span></h3>
          <p class="lead text-left">Classes are designed to help parents obtain skills needed to raise physically,
            psychologically, and emotionally healthy children. Classes help increase understanding about child
            development
            and work with parents to help their children learn, grow, and develop to meet their full potential.</p>
          <p class="lead text-left">In Person/Virtual Classes available. - 8,12, 16 or 32-hours options</p>
          <p class="lead text-left"><strong>Current Schedule: Monday or Friday - 2:00 pm or 6:00 pm</strong></p>
          <h3 class="lead text-left">Support Group: <span style="white-space: pre;"> <a href="{{site.url + 'sign-up/support-group/#'}}">Support Group > Sign-up</a></span></h3>
          <p class="lead text-left">In Person/Virtual Classes available. - 8,12, 16 or 32-hours options</p>
        </div>
      </div>
    </div>
    <!-- accordion item end -->
    <!-- accordion item counseling start -->
    <div class="accordion-item">
      <h2 class="lead accordion-header" id="flushone"><button aria-controls="flush-collapseOne" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#flush-collapseOne" data-bs-toggle="collapse" type="button"><strong>Counseling</strong></button></h2>
      <div aria-labelledby="flushone" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample"
        id="flush-collapseOne">
        <div class="accordion-body">
          <h3>Mental Health Counseling</h3>
          <p class="lead text-left">Our licensed mental health therapists provide a safe space for individuals to talk
            about their struggles. They also support those who experience mental and emotional distress by managing:
            depression, stress, anxiety, self-esteem, anger, and relationships.</p>
          <h3>Substance Abuse Counseling</h3>
          <p>We provide emotional support to individuals, and conduct one-on-one sessions to overcome their
            dependency and become self-sufficient. The therapists work with the clients to help them heal from the
            trauma
            inflicted by addiction.</p>
        </div>
      </div>
    </div>
    <!-- accordion item end -->
    <!-- accordion item life skils start -->
    <div class="accordion-item">
      <h2 class="lead accordion-header" id="flushfive"><button aria-controls="flush-collapseFive" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#flush-collapseFive" data-bs-toggle="collapse" type="button"><strong>Life Skills</strong></button></h2>
      <div aria-labelledby="flushfive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample"
        id="flush-collapseFive">
        <div class="accordion-body">
          <p class="lead text-left">Life skills class serves as a source of motivation and inspiration to encourage
            individuals or families to navigate barriers that prevent success. The staff works with individuals and
            families to learn skills to understand decision-making, problem-solving, resume assistance, mock
            interviewing,
            and suiting options for job readiness.</p>
        </div>
      </div>
    </div>
    <!-- Accordion - ends -->
    <!-- carousel start -->
    <div class="col-sm-12 col-md-12 col-lg-6 p-3 m-3 my-auto">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img alt="Support Group" class="d-block w-55" src="{{site.url + 'assets/services-discusion-612w.jpg'}}">
      </div>
            <div class="carousel-item">
              <img alt="Office" class="d-block w-55" src="{{site.url + 'assets/services-office-w525.jpg'}}">
      </div>
              <div class="carousel-item">
                <img alt="Self help books" class="d-block w-55" src="{{site.url + 'assets/services-books-720w.jpg'}}">
      </div>
              </div>
              <button class="carousel-control-prev w-20" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
              <button class="carousel-control-next w-20" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
            </div>
            <!-- carousel end -->
          </div>
        </div>
