<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Head -->
  {% include '../_includes/head.html' %}
  <!-- END Head -->
  <style>
    /** bootstrap 5.1.3 **/
    {% include '../_includes/css/bootstrap51.css'%}
    /** END bootstrap 5.1.3 **/
    /** Custom CSS **/
    {% include '../_includes/css/custom.css'%}
    /** END Custom CSS **/
  </style>
</head>
<body class="">
  <!-- Header -->
  <div class="bg-color">
    <header  class="navbar navbar-expand-md navbar-dark bd-navbar">{% include '../_includes/header.html' %}</header>
  </div>
  <!-- End Header -->
  {% if page.fileSlug != "" %}
  <!-- breadcrumb -->
  <nav aria-label="breadcrumb" class="container">
    {% include '../_includes/base-breadcrumb.html' %}
  </nav>
  <!-- END breadcrumb -->
  {% endif %}
  <!-- Main Content -->
  <main class="mt-5">{{ content | safe }}</main>
  <!-- END Main Content -->
  <!-- Footer -->
  <footer class="bg-color">{% include '../_includes/footer4.html' %}</footer>
  <!-- END Footer -->
  <!-- Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script>{% include '../_includes/footerScript.html' %}</script>
  <!-- END Scripts -->
</body>
</html>
