---
layout: base.njk
---
<article>
    <div class="container w-50">
        <h1 class="post-title">{{ title }}</h1>
        <p>by {{ author }} on {{ publishDate | postDate }}</p>
        {{ content | safe }}
    </div>
</article>