---
title: NWA Second Stage Transition's a place for you when you need help the most.
layout: base-layout.njk
templateEngineOverride: njk,md
---
<!-- START of the ABOUT section  -->
<div id="ourStory" class="position-relative overflow-hidden p-3 p-md-3 m-md-3 text-center">
  <div class="col-md-11 mx-auto my-3 ">
    <h1 class="display-4 pb-3 fw-normal">Our Story</h1>
    <p class="lead fw-normal">NWA Second Stage Transition is a tax-exempt nonprofit organization with a 501
      (c) (3) status. This organization helps encourage transformation to individuals who are willing to
      break the bondage of abuse to find hope and take control of their lives. NWA Second Stage Transition
      seeks to strengthen linkages between clients and community-based resources to prevent the progression
      of abuse, addiction, and homelessness. NWA Second Stage Transition believes each person is created to
      be unique and valuable.</p>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
<!-- END ABOUT section -->
<!-- START MISSION/VISION/VALUES CAROUSEL -->
<div class="carousel carousel-dark slide " data-bs-interval="8000" data-bs-ride="carousel" data-bs-keyboard="true">
  <!--   add class carousel-fade for fade affect -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#aboutCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#aboutCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#aboutCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
        <div class="carousel-caption align-items-center h-75">
          <h1>Mission</h1>
          <p>To educate, empower, provide safety, and opportunities to individuals and families who want to restore a
            balanced life and prevent the circle of addiction, homelessness, and domestic violence. </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="carousel-caption align-items-center h-75">
          <h1>Vision</h1>
          <p>A community where individuals and families are empowered, transformed, given hope, and held accountably.
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="carousel-caption align-items-center h-75">
          <h1>Values</h1>
          <p>Professionalism • Confidentiality • Authenticity • Integrity • Inclusivity • Respect</p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#aboutCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
  <button class="carousel-control-next" type="button" data-bs-target="#aboutCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- END ABOUT CAROUSEL -->
<hr id="team" class="featurette-divider">
<!-- START of the OUR TEAM Section -->
<div class="position-relative overflow-hidden p-3 p-md-3 m-md-3 text-center">
  <div class="col-md-11 mx-auto my-3 ">
    <h1 class="display-4 pb-3 fw-normal">Our Team</h1>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
<div class="container sectionMod">
  <!-- Three columns of text below the carousel -->
  <div class="row pb-3">
    <div class="col-lg-4 justify-content-center d-flex flex-column text-center">
      <h2 class="">Cecelia</h2>
      <p>Founder / Executive Direction, </br>CMHC, CPI, CDA, CIRW, CTIC</p>
    </div>
    <div class="col-lg-4 text-center">
      <h2 class="">Kormah</h2>
      <p>President / Substance Abuse Addiction Therapist, </br>LPC,LADC, AADC</p>
    </div><!-- /.col-lg-x -->
    <div class="col-lg-4 text-center">
        <h2 class="">Dwight</h2>
        <p>Board Member / Clients' Physician, LPC</p>
    </div><!-- /.col-lg-x -->
  </div><!-- /.row -->
  <div class="container sectionMod pb-3">
    <div id="" class="row">
      <div class="col-lg-6 text-center">
        <h2 class="">Samuel</h2>
        <p>Board Member / Advisor</p>
      </div><!-- /.col-lg-x -->
      <div class="col-lg-6 text-center">
        <h2 class="">Phil</h2>
        <p>Board Member / Communication</p>
      </div><!-- /.col-lg-x -->
    </div><!-- /.row -->
  </div>
</div><!-- End of the OUR TEAM section -->
<hr id="insurance" class="featurette-divider">
<!-- START of the CONTACT INFORMATION Section -->
<div class="position-relative overflow-hidden p-3 p-md-3 m-md-3 text-center">
  <div class="col-md-11 mx-auto my-3 ">
    <h1 class="display-4 pb-3 fw-normal">Insurance</h1>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
<div class="container sectionMod">
  <div class="row">
      <div class="col-lg-6 justify-content-center d-flex flex-row mx-auto">
        <img class="insurance-brand img-fluid" src="/assets/ambetter.webp" alt="Am Better">
      </div>
      <div class="col-lg-6 justify-content-center d-flex flex-row mx-auto">
        <img class="insurance-brand img-fluid" src="/assets/bcbsar.webp" alt="Blue Cross & Blue Shield">
      </div>
    </div>
  </div><!-- /.row -->
</div><!-- End of the CONTACT INFORMATION section -->
<hr id="about-contact" class="featurette-divider">
<!-- START of the CONTACT INFORMATION Section -->
<div class="position-relative overflow-hidden p-3 p-md-3 m-md-3 text-center">
  <div class="col-md-11 mx-auto my-3 ">
    <h1 class="display-4 pb-3 fw-normal">Contact Information</h1>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
<div class="container sectionMod">
  <!-- Three columns of text below the carousel -->
  <div class="row">
      <address class="col-lg-4 justify-content-center d-flex flex-column text-center">
        <h3>Location</h3>
        <span class="py-2">
        608 South Hico Street<br>
        Siloam Springs, AR 72761<br>
        </span>
      </address>
      <address class="col-lg-4 justify-content-center d-flex flex-column text-center text-center">
        <h3  class="">Phone</h3>
        <span class="py-2">
          <a class="nav-link" href="tel:14795493737">(479) 549-3737</a><br>
        </span> 
      </address>
      <div class="col-lg-4 justify-content-center d-flex flex-column text-center text-center">
        <h3  class="">Hours</h3>
        <span class="py-2">
          Open by appointment<br>
          Monday - Friday<br>
        </span>
      </div>
    </div>
  </div><!-- /.row -->
</div><!-- End of the CONTACT INFORMATION section -->
<hr class="featurette-divider">
</div><!-- /.container -->
</div>
