---
layout: base-layout.njk
title: "NWA Second Stage Transition's a place for you when you need help the most."
---
<!-- START of the Blog section -->
<div id="ourStory" class="position-relative overflow-hidden p-3 p-md-3 m-md-3 text-center">
  <div class="col-md-11 mx-auto my-3 ">
    <h1 class="display-4 pb-3 fw-normal">NWASST's Community Outreach</h1>
    <p class="lead fw-normal">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab fugit, excepturi obcaecati sed, quasi officiis quis quod magni ut placeat a voluptatum debitis porro dolores.</p>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
<!-- END Blog section -->
<hr class="featurette-divider">
<!-- Team Section
  ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container sectionMod">
  <!-- Three columns of text below the carousel -->
  <div id="team" class="row">
    <div class="col-lg-12">
      {% for post in collections.post | reverse %}
      <article>
        <img src="{{ post.data.image }}" alt="{{post.data.imageAlt}}">
        <h1>
      <a class="" href="{{ post.url | url }}">{{ post.data.title }}</a>
    </h1>
        {{ post.data.publishDate | postDate }}
      </article>
      {% endfor %}
    </div><!-- /.col-lg-12 -->
  </div><!-- /.row -->
  <!-- END Team Section -->
  <hr class="featurette-divider">
</div><!-- /.container -->
</div>
