---
title: NWA Second Stage Transition's a place for you when you need help the most.
layout: base.njk
templateEngineOverride: njk,md
---
<!-- START of the Volunteer section  -->
<div id="donate" class="position-relative overflow-hidden p-3 p-md-3 m-md-3 text-center">
  <div class="col-md-11 mx-auto my-3 ">
    <h1 class="display-4 pb-3 fw-normal">Donate</h1>
    <p class="lead text-left">Any contributions are appreciated. Our main goal for monetary donations will be to pay for
      a residential home. This home will be used to break the bondage of unhealthily living by learning the skills
      necessary to move to independent, safe, healthy, and productive adults.</p>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <span class="text-center"><input name="cmd" type="hidden" value="_s-xclick"> <input name="hosted_button_id" type="hidden" value="WEZNNTSCXXXYA"> <input alt="Donate with PayPal button" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" title="PayPal - The safer, easier way to pay online!" type="image"> <img alt="" border="0" height="1" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1"></span>
    </form><span class="text-center"></span>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
<!-- END Volunteer section -->
<hr class="featurette-divider">
<!-- START of the Volunteer section  -->
<div id="volunteer" class="position-relative overflow-hidden p-3 p-md-3 m-md-3 text-center">
  <div class="col-md-11 mx-auto my-3 ">
    <h1 class="display-4 pb-3 fw-normal">Volunteer</h1>
    <p class="lead fw-normal">Areas we are looking for volunteers range from Financial Planning, Transportation, Health
      & Wellness, Life Skills Training, Mentor, and Art Therapy Classes. If any of this
      sounds interesting to you please reach out to us/.</p>
    <p><a class="btn btn-lg btn-outline-dark" href="mailto:{{ site.email }}">Email Us</a></p>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
<!-- END Volunteer section -->
<hr class="featurette-divider">
<!-- START INKIND GIFT CAROUSEL -->
<div id="inKindGiftHeader" class="position-relative overflow-hidden p-3 p-md-3 m-md-3 text-center">
  <div class="col-md-11 mx-auto my-3 ">
    <h1 class="display-4 pb-3 fw-normal">In-Kind Gifts</h1>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
<div id="inKindGift" class="carousel carousel-dark slide " data-bs-interval="8000" data-bs-ride="carousel"
  data-bs-keyboard="true">
  <!--   add class carousel-fade for fade affect -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#inKindGift" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#inKindGift" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#inKindGift" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#inKindGift" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
        <div class="carousel-caption align-items-center h-75">
          <h1>Items Women Need</h1>
          <p>Shampoo/conditioners, body wash, lotion towels, socks, etc.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="carousel-caption align-items-center h-75">
          <h1>Items Men Need</h1>
          <p>Shampoo/conditioners,body wash, lotions, razors/shaving cream, socks, etc.
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="carousel-caption align-items-center h-75">
          <h1>Items Children Need</h1>
          <p>Socks, pajamas, shampoo, body wash/lotion, webs, notes books, etc.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="carousel-caption align-items-center h-75">
          <h1>Other Needs</h1>
          <p>Paper towels, tissue, etc.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<button class="carousel-control-prev" type="button" data-bs-target="#aboutCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
<button class="carousel-control-next" type="button" data-bs-target="#aboutCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- END ABOUT CAROUSEL -->
<hr class="featurette-divider">
</div><!-- /.container -->
</div>
