---
title: NWA Second Stage Transition's a place for you when you need help the most.
layout: base-layout.njk
templateEngineOverride: njk,md
---
<!-- START HERO CAROUSEL -->
<div id="heroCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <!-- img -->
      <img style="width: 140px;"src="https://cdn.pixabay.com/photo/2018/01/23/23/34/nature-3102762_960_720.jpg" alt="">
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>Example headline.</h1>
          <p>Some representative placeholder content for the first slide of the carousel.</p>
          <p><a class="btn btn-lg btn-outline-dark" href="#">Sign up today</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <!-- img -->
      <img style="width: 140px;"src="https://cdn.pixabay.com/photo/2018/01/23/23/34/nature-3102762_960_720.jpg" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>Another example headline.</h1>
          <p>Some representative placeholder content for the second slide of the carousel.</p>
          <p><a class="btn btn-lg btn-outline-secondary" href="#">Learn more</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <!-- img -->
      <img style="width: 140px;"src="https://cdn.pixabay.com/photo/2018/01/23/23/34/nature-3102762_960_720.jpg" alt="">
      <div class="container">
        <div class="carousel-caption text-end">
          <h1>One more for good measure.</h1>
          <p>Some representative placeholder content for the third slide of this carousel.</p>
          <p><a class="btn btn-lg btn-outline-secondary" href="#">Browse gallery</a></p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
  <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- END HERO CAROUSEL 
-------------------------------------------------------->
  <!-- START of the ABOUT section 
  ------------------------------------------------------>
      <div id="ourStory" class="position-relative overflow-hidden p-3 p-md-3 m-md-3 text-center">
      <div class="col-md-11 mx-auto my-3 ">
        <h1 class="display-4 pb-3 fw-normal">Our Story</h1>
        <p class="lead fw-normal">NWA Second Stage Transition is a tax-exempt nonprofit organization with a 501 
          (c) (3) status. This organization helps encourage transformation to individuals who are willing to 
          break the bondage of abuse to find hope and take control of their lives. NWA Second Stage Transition 
          seeks to strengthen linkages between clients and community-based resources to prevent the progression 
          of abuse, addiction, and homelessness. NWA Second Stage Transition believes each person is created to 
          be unique and valuable.</p>
      </div>
      <div class="product-device shadow-sm d-none d-md-block"></div>
      <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>
  <!-- END ABOUT section
  -------------------------------------------------------->
  <hr class="featurette-divider">
  <!-- START MISSION/VISION/VALUES CAROUSEL -->
  <div id="aboutCarousel" class="carousel carousel-dark slide " data-bs-interval="8000" data-bs-ride="carousel"
    data-bs-keyboard="true">
    <!--   add class carousel-fade for fade affect -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#aboutCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#aboutCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#aboutCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <div class="carousel-caption align-items-center h-75">
            <h1>Mission</h1>
            <p>To educate, empower, provide safety, and opportunities to individuals and families who want to restore a balanced life and prevent the circle of addiction, homelessness, and domestic violence. </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="carousel-caption align-items-center h-75">
            <h1>Vision</h1>
            <p>A community where individuals and families are empowered, transformed, given hope, and held accountably.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="carousel-caption align-items-center h-75">
            <h1>Values</h1>
            <p>Professionalism • Confidentiality • Authenticity • Integrity • Inclusivity • Respect</p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#aboutCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#aboutCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- END ABOUT CAROUSEL -->
    <hr class="featurette-divider">
   <!-- Team Section
  ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container ourTeam">
  <!-- Three columns of text below the carousel -->
  <div id="team" class="row">
    <div class="col-lg-6">
      <img style="width: 140px; border-radius:5rem;"src="./cecelia.PNG" alt="">
      <h2>Cecelia</h2>
      <p>Founder / Executive Director</p>
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-6">
      <img style="width: 130px; border-radius:5rem;"src="./rick.PNG" alt="">
      <h2>Kormah, LPC</h2>
      <p>President / Addiction / Substance Abuse Counselor</p>
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
  <!-- END Team Section -->
   <!-- Board Members Section
  ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container ourTeam">
  <!-- Three columns of text below the carousel -->
  <div id="team" class="row">
      <div class="col-lg-6">
      <img style="width: 130px; border-radius:5rem;"src="./rick.PNG" alt="">
      <h2>Dwight</h2>
      <p>Board Member</p>
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-6">
      <img style="width: 140px; border-radius:5rem;"src="./sam.PNG" alt="">
      <h2>Phil</h2>
      <p>Board Member</p>
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
  <!-- END Board Members Section -->
      <hr class="featurette-divider">
  <!-- START LOCATION SECTION -->
  <div id="contact" class="row featurette d-flex align-items-stretch ">
    <div class="col-md-5 py-6 text-center d-flex flex-column align-self-center">
      <address >
          <h3 class="py-2">Location</h3>
          <span class="py-2">
            608 South Hico Street<br>
            Siloam Springs, AR 72761<br>
          </span>
          <h3  class="py-2 pt-5">Hours</h3>
          <span class="">
            Open by appointment<br>
            Monday - Friday<br>
          </span>     
        </address>
    </div>
    <div class="col-md-7 map-container">
      <iframe class="map-iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3220.468114232307!2d-94.53542338457751!3d36.179495680081075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87c9a309bbe71e97%3A0x38f27ea8454299a2!2sNorthwest%20Arkansas%20Second%20Stage%20Transition!5e0!3m2!1sen!2sus!4v1649725254468!5m2!1sen!2sus" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <!-- /END THE FEATURETTES -->
    <hr class="featurette-divider">
  </div><!-- /.container -->
</div>
